{% extends 'layouts.jinja2' %}

<!-- Pull css from here -->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/navigation_Bar.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="formwrapper">

        <h2 class="title">4320 Trip Reservation Application</h2>
        
        <div class="seating-chart">
            {% for row_num in range(1, 13) %}
                <div class="row">
                    <div class="row-label">Row {{ row_num }}</div>
                    <div class="seats">
                        {% for col_num in range(1, 5) %}
                            {% set seat = seating_info | selectattr("seat_row", "equalto", row_num) | selectattr("seat_column", "equalto", col_num) | first %}
                            <div class="seat {% if seat %}taken{% endif %}">
                                Seat {{ col_num }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
      
  </div>
{% endblock %}