{% extends 'layouts.jinja2' %}

<!-- Pull css from here -->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="formwrapper">

        <h2 class="title">4320 Trip Reservation Application</h2>
        <!-- {% if err %}
            <p>{{ err }}</p>
        {% endif %}
        <form method="POST" action="/start">
            
        </form> -->
      
  </div>
{% endblock %}