{% extends 'layouts.jinja2' %}

<!-- Pull css from here -->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/navigation_Bar.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="formwrapper">

        <h2 class="title">Admin Login</h2>
        {% if err %}
            <p>{{ err }}</p>
        {% endif %}

        <form method="POST" action="/login">
            {{ form.csrf_token }}

            <div class="form-field"> {{ form.admin_user.label }} {{ form.admin_user }}
                {% if form.admin_user.errors %}
                    <ul class="errors">
                        {% for error in form.admin_user.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-field"> {{ form.admin_passwd.label }} {{ form.admin_passwd }} 
                {% if form.admin_passwd.errors %}
                    <ul class="errors">
                        {% for error in form.symbol.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {{ form.submit }}
        </form>
  </div>
{% endblock %}